body{
    background-color: rgb(242, 242, 242);
    font-family: Arial, Helvetica, san  s-serif;
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    margin: 0;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    min-height: 700px;
    min-width: none;
    padding: 20px;
    
}
nav a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: gray;
    font-size: 12px;
}
.plus{
    width: 30px;
  height: 20px;
  border-radius: 2px;
  

  background-color: #e4e6eb;
  color: #050505;
  
  font-size: 15px;
  font-weight: bold;
    font-display: auto;

  cursor: pointer;
  padding: 0;
  outline: none;
  opacity: 0.5;
}
.plus:hover {
  background-color: #d8dadf;
}

nav a:hover {
    text-decoration: underline;
}
.bottom{
    padding: 40px 0;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}
.meta{
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: gray;
    font-size: 12px;
}
nav {
    max-width: 980px; 
    width: 100%;
    margin: 0 auto;
    line-height: 1.2; 
}

.footer-content {
    width: 980px;          
    margin: 0 auto;        
    color: #737373;        
    font-size: 12px;       
}
.logo{
    color: #1877f2;
    font-size: 60px;
    margin-top: -100px;
    margin-bottom: 10px; 
    letter-spacing: -2px;
}

.login-container{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 396px;
    display: inline-block;
}   

.right-column{
    width: 440px;
    padding: 0;
    text-align: center;

}

.login-form input{
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 17px;
}


.login-btn{
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    cursor:pointer;
}

.forget-btn{
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    background-color: white;
    color: #1877f2;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.create-btn{
    width: 70%;
    padding: 14px 20px;
    margin-bottom: 12px;
    background-color: #42b72a;
    color: white;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    display: inline-block;
}

.main-text{
    width: 580px;
    margin-right: 0px;
    text-align: left;
}


.main-text p{
    font-size: 28px;
    margin: 0;
}

hr{
    border: 0;
    border-bottom: 1px solid #ddd;
    margin:10px 0;
}